# Install Packages

In [1]:
# If there are required packages

# Import Libararies

In [2]:
import numpy as np
import pandas as pd
from datetime import datetime

In [3]:
daterange = pd.date_range('01/02/2015', '31/12/2021')
da_lmp = pd.read_csv("da_lmp/20150101damlbmp_zone.csv")
rt_lmp = pd.read_csv("rt_lmp/20150101rtlbmp_zone.csv")
load_frcstd = pd.read_csv("load_forecast/20150101isolf.csv").iloc[:24,:]
for single_date in daterange:
    da_lmp = pd.concat([da_lmp, pd.read_csv("da_lmp/"+single_date.strftime("%Y%m%d")+"damlbmp_zone.csv")])
    rt_lmp = pd.concat([rt_lmp, pd.read_csv("rt_lmp/"+single_date.strftime("%Y%m%d")+"rtlbmp_zone.csv")])
    load_frcstd = pd.concat([load_frcstd, pd.read_csv("load_forecast/"+single_date.strftime("%Y%m%d")+"isolf.csv").iloc[:24,:]])

In [4]:
zones = ['CAPITL', 'CENTRL', 'DUNWOD', 'GENESE', 'HUD VL', 'LONGIL',
       'MHK VL', 'MILLWD', 'N.Y.C.', 'NORTH', 'WEST']
da_lmp_zones_list = []
rt_lmp_zones_list = []
datetime_index = pd.date_range('01/01/2015', '31/12/2021 23:00:00',
                               freq='H').tz_localize("EST").tz_convert('UTC')

for i in zones:
    da_lmp_zones_list.append(da_lmp['LBMP ($/MWHr)'][da_lmp['Name'] == i].values)
    rt_lmp_zones_list.append(rt_lmp['LBMP ($/MWHr)'][rt_lmp['Name'] == i].values)
    
da_lmp_zones_df = pd.DataFrame(np.array(da_lmp_zones_list).T, columns = zones)
da_lmp_zones_df.index = datetime_index
rt_lmp_zones_df = pd.DataFrame(np.array(rt_lmp_zones_list).T, columns = zones)
rt_lmp_zones_df.index = datetime_index
load_frcstd_df = load_frcstd.iloc[:,1:-1].reset_index(drop=True)
load_frcstd_df.columns = zones
load_frcstd_df.index = datetime_index

In [5]:
da_lmp_zones_df

,CAPITL,CENTRL,DUNWOD,GENESE,HUD VL,LONGIL,MHK VL,MILLWD,N.Y.C.,NORTH,WEST
2015-01-01 05:00:00+00:00,33.45,21.89,31.27,20.84,31.14,43.73,22.68,31.40,31.45,20.06,20.77
2015-01-01 06:00:00+00:00,26.90,21.06,26.34,20.19,26.25,41.16,21.76,26.41,26.49,20.00,19.98
2015-01-01 07:00:00+00:00,25.00,19.64,24.40,18.83,24.35,37.69,20.27,24.49,24.54,18.72,18.61
2015-01-01 08:00:00+00:00,24.39,18.39,23.51,17.60,23.44,31.52,18.97,23.59,23.64,17.35,17.45
2015-01-01 09:00:00+00:00,25.00,18.39,23.99,17.57,23.92,30.00,18.97,24.07,24.10,17.23,17.46
...,...,...,...,...,...,...,...,...,...,...,...
2022-01-01 00:00:00+00:00,33.09,29.00,33.46,28.22,33.01,39.61,30.13,33.25,33.49,28.38,27.64
2022-01-01 01:00:00+00:00,30.61,27.62,31.28,26.84,30.83,38.01,28.70,31.07,31.28,27.20,26.22
2022-01-01 02:00:00+00:00,29.49,27.55,30.41,26.89,29.99,36.29,28.55,30.24,30.49,27.28,26.20
2022-01-01 03:00:00+00:00,29.63,25.37,29.62,24.71,29.25,30.36,26.26,29.49,29.73,24.72,24.27
2022-01-01 04:00:00+00:00,28.70,24.87,28.82,24.33,28.48,29.54,25.64,28.71,29.00,24.19,24.08

In [6]:
rt_lmp_zones_df

,CAPITL,CENTRL,DUNWOD,GENESE,HUD VL,LONGIL,MHK VL,MILLWD,N.Y.C.,NORTH,WEST
2015-01-01 05:00:00+00:00,35.49,19.80,31.83,18.58,31.75,32.46,20.86,32.02,31.91,17.65,18.39
2015-01-01 06:00:00+00:00,67.58,11.83,52.34,10.03,51.89,52.53,13.57,52.75,52.37,4.15,11.65
2015-01-01 07:00:00+00:00,47.27,14.77,38.65,13.41,38.43,39.06,16.13,38.92,38.69,10.34,14.07
2015-01-01 08:00:00+00:00,38.54,12.31,31.60,11.18,31.42,31.92,13.43,31.82,31.63,8.80,11.70
2015-01-01 09:00:00+00:00,38.37,12.33,31.52,11.19,31.35,31.85,13.46,31.74,31.55,8.85,11.68
...,...,...,...,...,...,...,...,...,...,...,...
2022-01-01 00:00:00+00:00,29.66,27.82,30.20,27.23,29.93,30.77,28.77,30.10,30.21,27.38,26.50
2022-01-01 01:00:00+00:00,29.81,28.02,30.25,27.36,29.99,30.86,29.01,30.15,30.23,27.92,26.63
2022-01-01 02:00:00+00:00,29.85,28.14,30.32,27.51,30.08,31.01,29.11,30.25,30.34,28.09,26.80
2022-01-01 03:00:00+00:00,30.19,28.49,30.57,27.90,30.34,31.29,29.38,30.51,30.60,28.45,27.21
2022-01-01 04:00:00+00:00,29.63,27.83,29.90,27.35,29.66,30.57,28.61,29.82,29.93,27.80,26.81

In [7]:
load_frcstd_df

,CAPITL,CENTRL,DUNWOD,GENESE,HUD VL,LONGIL,MHK VL,MILLWD,N.Y.C.,NORTH,WEST
2015-01-01 05:00:00+00:00,1264,1651,645,973,1029,2386,761,317,5357,528,1700
2015-01-01 06:00:00+00:00,1200,1557,623,925,985,2278,715,311,5179,539,1614
2015-01-01 07:00:00+00:00,1145,1514,600,896,942,2196,708,299,5009,534,1559
2015-01-01 08:00:00+00:00,1130,1506,580,887,926,2139,705,287,4871,538,1537
2015-01-01 09:00:00+00:00,1114,1552,569,893,924,2101,722,287,4777,549,1544
...,...,...,...,...,...,...,...,...,...,...,...
2022-01-01 00:00:00+00:00,1288,1616,620,1004,1022,2281,725,323,5362,673,1529
2022-01-01 01:00:00+00:00,1228,1554,590,956,963,2147,693,302,5139,651,1490
2022-01-01 02:00:00+00:00,1197,1514,572,922,936,2061,677,285,4943,635,1458
2022-01-01 03:00:00+00:00,1186,1491,566,900,916,2032,664,276,4809,623,1440
2022-01-01 04:00:00+00:00,1164,1472,561,890,894,1998,646,273,4720,620,1419

In [9]:
da_lmp_zones_df.to_csv('da_lmp_zones_df_2015_2021.csv')
rt_lmp_zones_df.to_csv('rt_lmp_zones_df_2015_2021.csv')
load_frcstd_df.to_csv('load_frcstd_df_2015_2021.csv')